#titulo1 {  
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#paragrafo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

#topicos {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    margin-right: 300px;
    font-size: 20px;
}

#subtitulo1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

#foto {
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 20px;
    border: solid 2px;
    border-color: white;
}

#fundo-1{
    background-image: url(../IMG/bandeira\ Cabo.png);
    background-size: cover;
}

/* Style Formulário */

.form{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 68, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 600px;
    
}

.textlabel{
    display: block;
    color: white;
}

#fundo-2{
    background-image: url(../IMG/fundo-gradiente.png);
    background-size: cover;
}
.campotexto {
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    outline: none;
    transition: 0.33s;
    background-color: rgb(255, 255, 255);
    margin-top: 7px;
}

#benviar {
    margin-top: 20px;
    padding: 12px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Style Eliminatórias */

#tabela{
    margin: auto;
    justify-content: center;
    margin-top: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#eliminado{
    color: white;
}

#fundo-3{
    background-image: url(../IMG/fundo\ fifa.png);
    background-size: cover;
}

#botaoEnviar{
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    outline: none;
    transition: 0.33s;
    margin-left: 680px;
    transition: background-color 0.3s; 
}
#botaoEnviar:hover{
    background-color:  rgb(163, 163, 163); ;
}

.cabecalho ol{
    display: flex;
    gap: 20px;          /* espaço entre os tópicos */
    list-style: none;   /* remove os números */
    margin: 0;
    margin-left: 525;
    padding: 0;
}

.cabecalho a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background: white;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: block;
    outline: none;
    margin-top: 15px;
    transition: background-color 0.3s; 
}

.cabecalho a:hover{
    background-color: rgb(163, 163, 163);
}
